@use "../base/variables";
@use "../base/extends";
@use "../components/popular-models";

.catalog {
    padding-top: 30px;
    position: relative;

    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
        background-color: variables.$main-bcg-color;
        border: 1px solid rgb(161, 146, 128);
        box-shadow: 11px 10px 19px -6px rgba(161, 146, 128, 0.6);
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.2s linear;
    }

    &__title {
        @extend %h2-text;
        text-align: center;
    }

    &__inner {
        @extend .popular-models__inner;
    }

    &__item {
        @extend .popular-models__item;
    }

    &__info {
        @extend .popular-models__info;
    }

    &__brand {
        @extend %h3-text;
    }

    &__price {
        @extend .popular-models__price;
    }

    &__detail {
        @extend .popular-models__detail;
    }

    &__img {
        @extend .popular-models__img;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 20px;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__add {
        font-size: 24px;
        height: 26px;
        width: 26px;
        margin-right: 10px;
        border: 1px solid variables.$footer-color;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease-in;

        &:hover {
            background-color: rgba(variables.$footer-color, 0.3);
            cursor: pointer;
        }
    }

    &__favorite {
        font-size: 36px;
        height: 40px;
        width: 40px;
        text-align: center;
        transition: transform 0.3s ease-in;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}
