@font-face {
    font-family: "Prata";
    src: url(fonts/Prata-Regular.ttf) format(ttf), url(fonts/Prata-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(fonts/PlayfairDisplay-Regular.ttf) format(ttf), url(fonts/PlayfairDisplay-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(fonts/PlayfairDisplay-Bold.ttf) format(ttf), url(fonts/PlayfairDisplay-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Bold.ttf) format(ttf), url(fonts/Roboto-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Medium.ttf) format(ttf), url(fonts/Roboto-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Prata-Regular.ttf) format(ttf), url(fonts/Roboto-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Light.ttf) format(ttf), url(fonts/Roboto-Light.woff) format(woff);
    font-weight: 300;
}
